.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerlogin {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  height: 400px;
  width: 300px;
}

.containerlogin h2 {
  font-size: 2.5em;
}

.containerRegister {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  height: 400px;
  width: 300px;
}

.containerRegister h2 {
  font-size: 2.5em;
}

.inputs {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, .6);
  font-size: 1.1em;
  margin: 15px 0 15px 0;
  padding: 0 20px;
  height: 50px;
  width: 315px;
}

.button {
  height: 45px;
  width: 355px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  color: black;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, .2);
}

@media (max-width: 1023px) and (min-width: 700px) {
  
  .container {
    flex-direction: column;
  }

  .containerlogin {
    margin-top: 3em;
    margin-left: 5em;
    margin-bottom: -15px;
  }

  .containerlogin h2 {
    font-size: 2em;
    margin: 0;
  }

  .containerRegister {
    margin-left: -0.5em;
    margin-top: -1.2em;
  }

  .containerRegister h2 {
    font-size: 2em;
    margin: 0;
  }

  .inputs {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    font-size: 1.1em;
    margin: 5px 0 10px 0;
    padding: 0 20px;
    height: 50px;
    width: 315px;
  }

  .button {
    height: 40px;
    width: 355px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
  }
}

@media (max-width: 700px) and (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  .container > div {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .containerlogin {
    margin-top: 3em;
    margin-left: 5em;
    margin-bottom: -15px;
  }

  .containerlogin h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .containerRegister {
    margin-left: -0.5em;
    margin-top: -1em;
  }

  .containerRegister h2 {
    font-size: 1.5em;
    margin: 0;
  }

  .inputs {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    font-size: 1.1em;
    margin: 5px 0;
    padding: 0 20px;
    height: 40px;
    width: 85%;
  }
  
  .button {
    height: 30px;
    width: 95%;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
  }
  
  .button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, .2);
  }
}

@media (max-width: 375px) and (min-width: 321px) {
  .container {
    flex-direction: column;
  }

  .containerlogin {
    margin-top: 3em;
    margin-left: 5em;
    margin-bottom: -15px;
  }

  .containerlogin h2 {
    font-size: 1.2em;
    margin: 0;
  }

  .containerRegister {
    margin-left: -0.5em;
    margin-top: -0.5em;
  }

  .containerRegister h2 {
    font-size: 1.2em;
    margin: 0;
  }

  .inputs {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    font-size: 1.1em;
    margin: 5px 0 10px 0;
    padding: 0 20px;
    height: 35px;
    width: 315px;
  }

  .button {
    height: 25px;
    width: 345px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    color: black;
  }
}

@media (max-width: 321px) {
  .container {
    flex-direction: column;
  }

  .containerlogin {
    margin-right: 0px;
    padding-top: 150px;
    height: 20px;
    width: auto;
  }
  

  .containerlogin h2 {
    font-size: 1em;
    margin: 0;
  }

  .containerRegister {
    height: 20px;
    width: auto;
    margin-left: -0.5em;
    margin-top: 4.8em;
  }

  .containerRegister h2 {
    font-size: 1em;
    margin: 0;
  }

  .inputs {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, .6);
    font-size: 1.1em;
    margin: 5px 0 10px 0;
    padding: 0 20px;
    height: 25px;
    width: 250px;
  }

  .button {
    height: 15px;
    width: 290px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: .75em;
    color: black;
  }
}