.navBar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    height: 85px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }

  .navBarLoginRegister {
    background-color: transparent;
  }

  .navBarDetails {
    background-color: transparent !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
  }
  
  .navBar.navBarScroll {
    padding: 0;
    background: black;
  }
    
  .NavLink {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    margin-top: 40px;
  }

  .MenuContainer {
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    background-color: #4f4f4f;
    z-index: 999;
  }

  .MenuContainer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 25px;
  }
  
  .MenuContainer li {
    padding: 25px 0 25px 0;
    text-align: center;
  }

  .containerSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
  }

  .TextLogo {
    display: flex;
    color: white;
    font-weight: 1000;
    font-size: 2.3em;
    padding-top: 3px;
  }
    
  .MenuLogo {
    margin-right: 40px;
    margin-top: 5px;
    color: white;
  }
    
  .CloseLogo {
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
  }

  .SearchForm {
    display: flex;
    height: 40px;
    margin-top: 5px;
    padding: 0px 45px 0px 70px;
  }

  .SearchInput {
    width: 23em;
    background-color: transparent;
    border: 2px solid gray;
    padding-left: 15px;
    font-size: 1em;
  }

  .SearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    background-color: gray;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 1.5em;
  }

  .SearchButton:hover {
    cursor: pointer;
    border: 1px solid gray;
  }

  .containerDropDown {
    color: white;
  }

  .ulDropDown p {
    font-size: 1.2em;
    font-weight: bold;
    transition: transform 0.3s;
    margin-top: 20px;
  }

  .ulDropDown p:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  .ulDropDown li {
    position: relative;
    list-style: none;
  }

  .ulDropDown li a {
    padding: 10px 15px;
    display: block;
    text-decoration: none;
  }

  .ulDropDown > li {
    display: inline-block;
    margin-right: 20px;
  }

  .ulDropDown li ul {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 140px;
    top: 100%;
    left: 0;
    padding: 10px 0;
    column-gap: 0px;
  }

  .ulDropDownGenres {
    column-count: 2;
    column-gap: 0px;
    width: auto;
    max-height: auto;
    overflow-y: auto;
  }

  .liLinks li:hover {
  background-color: #4f4f4f;
  }

  .Login {
    position: relative;
    font-size: 1.1em;
    font-weight: bold;
    padding-right: 8px;
    padding-top: 1px;
    background-color: transparent;
    border: none;
  }

  .Login::before,
  .Login::after
  {
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }

  .Login::before{
    bottom: -5px;
    width: 90%;
    right: 0;
  }

  .Login::after{
    bottom: -10px;
    width: 60%;
    left: 0;
  }

  .Login.activo::before,
  .Login:hover::before{
    opacity: 1;
    width: 70%;
  }

  .Login.activo::after,
  .Login:hover::after{
    opacity: 1;
    width: 40%;
  }

  .userNavbar {
    font-size: 1.15em;
    font-weight: bold;
    position: relative;
    color: white;
  }
  
  .userNavbar:hover {
    cursor: pointer;
  }

  .userNavbar p {
    padding-top: 1px;
    transition: 0.3s;
  }

  .userNavbar p:hover {
    transform: scale(1.1);
  }
  
  .userNavbar ul {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
    top: 80%;
    left: 0;
    padding: 10px 0;
  }
  
  .userNavbar:hover ul {
    display: block;
  }
  
  .userNavbar ul li {
    font-size: .9em;
    font-weight: 650;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: white;
  }
  
  .userNavbar ul li:hover {
    background-color: #4f4f4f;
  }

  body.menu-open {
    overflow: hidden;
  }

  a {
    color: white;
  }
    
  @media (min-width: 800px) {
      .navBar {
        justify-content: space-evenly;
      }
    
      .LinksConteiner {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin-top: 0px;
        margin-bottom: 40px;
      }
    
      .NavLink {
        position: relative;
        font-size: 1em;
        font-weight: 500;
      }

      .NavLink:hover {
        cursor: pointer;
      }
    
      .Scrolled {
          position: fixed;
          background: white;
          width: 100%;
          height: auto;
          z-index: 1000;
      }
  }
    